extends layout
block content
  .container
    .row
      .col-md-6
        table.table.table-danger
          tr
            td Qo'shiq nomi:
            td #{data.name}
          tr
            td Qo'shiq ijrochisi:
            td #{data.singer}
          tr
            td komentariya:
            td #{data.comment}
          tr
            td ball:
            td #{data.score}
          tr
            td qo'shdi:
            td #{user.username}
        
        audio(src=`/upload/${data.file}` controls="")
        .col-6
          a.btn.btn-warning.ml-3.mt-4(href="edit/"+data._id) O'zgartirish
          a.btn.btn-danger.ml-4.mt-4(href="delete/"+data._id) O'chirish
  
  
      
    




            
